version: '2.4'
services:
  configurator:
    container_name: configurator
    build:
      context: configurator
      dockerfile: Dockerfile
    image: configurator:latest
    environment:
      EUREKA_URI: http://discovery:8761/eureka
      ZIPKIN_URI: http://zipkin:9411/api/v2/spans
    ports:
      - "8888:8888"
    networks:
      - spring-cloud-network
    depends_on:
      discovery:
        condition: service_healthy
    healthcheck:
#      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      #test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health/readiness" ]
      test: "curl --fail --silent http://localhost:8888/actuator/health/readiness | grep UP || exit 1"
      interval: 30s
      timeout: 10s
      retries: 3
  discovery:
    container_name: discovery
    build:
      context: discovery
      dockerfile: Dockerfile
    image: discovery:latest
    environment:
      EUREKA_URI: http://discovery:8761/eureka
      ZIPKIN_URI: http://zipkin:9411/api/v2/spans
    ports:
      - "8761:8761"
    networks:
      - spring-cloud-network
    healthcheck:
      #test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      #test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health/readiness" ]
      test: "curl --fail --silent http://localhost:8761/actuator/health/readiness | grep UP || exit 1"
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
  order:
    container_name: order
    build:
      context: order
      dockerfile: Dockerfile
    image: order:latest
    environment:
      CONFIG_URI: configserver:http://configurator:8888
      EUREKA_URI: http://discovery:8761/eureka
      ZIPKIN_URI: http://zipkin:9411/api/v2/spans
    ports:
      - "18080:8080"
    networks:
      - spring-cloud-network
    depends_on:
      configurator:
        condition: service_healthy
      discovery:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent http://localhost:8080/actuator/health/readiness | grep UP || exit 1"
      interval: 30s
      timeout: 10s
      retries: 3
  reverseproxy:
    container_name: reverseproxy
    build:
      context: reverseproxy
      dockerfile: Dockerfile
    image: reverseproxy:latest
    environment:
      EUREKA_URI: http://discovery:8761/eureka
      ZIPKIN_URI: http://zipkin:9411/api/v2/spans
    ports:
      - "19090:19090"
    networks:
      - spring-cloud-network
    depends_on:
      #ui:
      #  condition: service_healthy
      discovery:
        condition: service_healthy
    healthcheck:
      #test: [ "CMD", "curl", "-f", "http://localhost:19090/actuator/health" ]
      #test: [ "CMD", "curl", "-f", "http://localhost:19090/actuator/health/readiness" ]
      test: "curl --fail --silent http://localhost:19090/actuator/health/readiness | grep UP || exit 1"
      interval: 30s
      timeout: 10s
      retries: 3
  ui:
    container_name: ui
    build:
      context: ui
      dockerfile: Dockerfile
    image: ui:latest
    ports:
      - "18081:8083"
    environment:
      CONFIG_URI: configserver:http://configurator:8888
      EUREKA_URI: http://discovery:8761/eureka
      ZIPKIN_URI: http://zipkin:9411/api/v2/spans
    networks:
      - spring-cloud-network
    depends_on:
      order:
        condition: service_healthy
      discovery:
        condition: service_healthy
      configurator:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent http://localhost:8083/actuator/health/readiness | grep UP || exit 1"
      interval: 30s
      timeout: 10s
      retries: 3
  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    # Environment settings are defined here https://github.com/openzipkin/zipkin/blob/master/zipkin-server/README.md#environment-variables
    #environment:
      #- STORAGE_TYPE=mem
      # Point the zipkin at the storage backend
      #- MYSQL_HOST=mysql
      # Uncomment to enable self-tracing
      # - SELF_TRACING_ENABLED=true
      # Uncomment to increase heap size
      # - JAVA_OPTS=-Xms128m -Xmx128m -XX:+ExitOnOutOfMemoryError
    ports:
      # Port used for the Zipkin UI and HTTP Api
      - "9411:9411"
    # Uncomment to enable debug logging
    # command: --logging.level.zipkin2=DEBUG
    networks:
      - spring-cloud-network
networks:
  spring-cloud-network:
    driver: bridge